<mat-card>
    <mat-toolbar color="primary">
        <span>Tarefas registradas</span>
    </mat-toolbar>

    <div *ngIf="tarefas$ | async as tarefas; else processar">
        <table mat-table [dataSource]="tarefas" class="mat-elevation-z8">

            <!-- Tarefa Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Tarefa </th>
                <td mat-cell *matCellDef="let tarefas"> {{tarefas.name}} </td>
            </ng-container>

            <!-- Descrition Column -->
            <ng-container matColumnDef="descrition">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let tarefas"> {{tarefas.descrition}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell class="action-column">
                    <button mat-mini-fab color="accent" aria-label="Adicionar uma tarefa">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>

                <mat-cell class="action-column">
                    <button mat-icon-button color="primary" aria-label="Editar tarefa">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" aria-label="Remover tarefa">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <ng-template #processar>
        <div class="processar-spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</mat-card>